  .Dice {
    width: 100%;
    max-width: 100px;
    max-height: 100px;
  }
  
  .Board {
    display: inline-block;
    padding: 35px 30px;
    border: 1px solid transparent;
    border-radius: 12px;
    font-size: 16px;
    text-align: center;
    background-color: #272b38;
    margin: 10px;
    width: 30%;
  }
  
  .Board-winner {
    border: 1px solid #fff;
    box-shadow: 0 0 12px 0 hsla(0, 0%, 100%, 0.48);
  }
  
  .Board-heading:first-child {
    margin-top: 0;
  }
  
  .Board-heading {
    margin-top: 10px;
    color: #888d9d;
    font-weight: 400;
    font-size: 18px;
  }

  .Board p {
    color: #fff;
  }
  
  body {
    color: #fff;
    font-family: 'NanumSquareRound', sans-serif;
    background-color: #191f2c;
  }